body{
    font-family: 'Open Sans', sans-serif;
    
}

/* header section*/
header{
    
    background-color: bisque;
    background-image: url("../web-developer-portfolio/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 0px;
    padding-right: 0px;

}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    padding-right: 30px;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    padding-left: 120px;
    
}

nav ul{
    display: flex;
    gap: 90px;  
    
}

nav  li{
    list-style: none;
    
   
    
}

nav a{
    text-decoration: none; 
    color: #474747; 
    
}

.banner{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px 0px 120px;

}

.banner-content{
    max-width: 500px;
    padding-bottom: opx;
    text-align: justify;
}
.banner-content h1{
   font-size: 45px;
   font-weight: 900;
}
.banner .profile-pic{
    width: 900px;
    height: 700px;
    margin-right: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
    flex-shrink: 200px;
    
}

/* main section */
main{
    max-width: 1140px;
    margin: o auto;

}

 /* about section */
 .about{
    display: flex;
    width: 909px;
    flex-direction: column;
    background-color:rgb(231, 197, 230) ;
    margin:20px 460px;
    
 }

 .about-title{
    color: #181818;
    text-align: center;
    
    font-size: 35px;
    font-weight: 700;
 }

 .about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
 }
